<div class="absolute h-screen w-full">
  <img
    src="https://assets.nflxext.com/ffe/siteui/vlv3/dace47b4-a5cb-4368-80fe-c26f3e77d540/becb4b4a-fa87-47ab-b92b-aae2c1c6d6f7/SG-en-20231023-popsignuptwoweeks-perspective_alpha_website_small.jpg"
    alt="Background Image"
    class="h-screen w-full"
  />
</div>
<!-- Signin box -->
<div
  class="bg-black w-full sm:w-6/12 lg:w-3/12 rounded-lg absolute p-12 my-36 mx-auto left-0 right-0 text-white opacity-85"
>
  <h1 class="font-bold text-3xl text-center mb-2">Netflix Sign In</h1>
  <div class="w-full flex justify-center items-center">
    <div id="google-btn"></div>
  </div>
</div>
